@media screen and (max-width: 1000px) {

    .main-page{
        
        background-color: lightblue;
    }

    .card{
        background-color: lightcoral;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
        padding: 0;
        margin: 0;
    }
    
    .shoe-img-container{
        color: red;
        width: 50% !important;
    }

    .shoe-img{
        width: 100%;
        transform: rotate(-5deg) translateY(-50%);
        top: 55%;
        right: 2%;
    }

    .bcktxt{
        top: 20%;
        left: 5%;
    }
}